<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <title>Administration</title>
        <meta http-equiv="Content-Type" content="text/html" charset=utf-8/>
        {% stylesheets '@RecrutementTestBundle/Resources/public/css/*'%}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        {% javascripts '@RecrutementTestBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
        
    <body>
        <div id="header">
            <div id="banniere">NOVEDIA GROUP</div>
            <div id="bonjour" class="righthead">
               Mode administrateur
            </div>
        </div>
            
        {% include "RecrutementTestBundle::menu.html.twig" %}

        <div><br /><br /></div>
        <hr class="crlf" />

        <div id="wrapper_admin">
            <table>
                <caption>
                    <h1>Liste des tests existants</h1>
                </caption>

                <thead>
                    <tr>
                        <th scope="col" rowspan="2">Nom</th>
                        <th scope="col" rowspan="2">Libelle</th>
                        <th scope="col" rowspan="2">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for oTest in aListTests %}
                    <tr>
                        <td>{{ oTest.nom }}</td>
                        <td>{{ oTest.libelle }}</td>
                        <td>
                            <a href="{{ path('manage_admin_test', { 'sAction': 'modifier','iId': oTest.id }) }}">modifier</a>
                            <a href="{{ path('drop_admin_test', { 'iId': oTest.id }) }}">supprimer</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <a href="{{ path('manage_admin_test', { 'sAction': 'creer', 'iId': 1 }) }}">Creer un nouveau test</a>
        </div>
        
        <div id="footer">
        </div>
    </body>
        {% block javascripts %}
            <script type="text/javascript">
               
            </script>
        {% endblock javascripts %}
</html>
